<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Wikisaur Ciencia Ficcion, aqui encontraras todo lo relacionado a los dinosaurios en el mundo de las peliculas y la Ciencia ficcion">  
    <meta name="keywords" content="WIKI, DINOSAURIOS, DINOSAUR, WIKIPEDIA, JURASSIC, PARK, PREHISTORICO, PREHISTORIC, REX, TRICERATOPS, PALEONTOLOGIA, PELICULAS">
    
    <link rel="icon" href="../multimedia/img/logosmall.png" />
    <link rel="stylesheet" href="../css/style.css" />

    <title>Wikisaur | Contacto</title>
  </head>
  <body>
  
  </body>
</html>
