<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wikisaur</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="icon" href="../multimedia/img/logosmall.png" />
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
    crossorigin="anonymous"
  />

  </head>
  <body>
    <header class="flex-column flex-sm-row justify-content-end">
      <img
      src="../multimedia/img/logosmall.png"
      alt="logo wikisaur"
      class="logo_sitio"
    />
    <nav class="navbar navbar-expand-sm">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapsibleNavbar"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Tooggle navigation"
          >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav gap-3">
            <li class="nav-item"><a class="nav-link fs-2" href="../index.html">Home</a></li>
            <li class="nav-item"><a class="nav-link fs-2" href="./history.html">Historia</a></li>
            <li class="nav-item"><a class="nav-link fs-2" href="./dinosaurs.html">Dinosaurios</a></li>
            <li class="nav-item"><a class="nav-link fs-2" href="./paleontology.html">Paleontologia</a></li>
            <li class="nav-item"><a class="nav-link fs-2" href="./scifi.html">Ciencia Ficcion</a></li>              
          </ul>
        </div>
      </div>
    </nav>     
  </header>

    <main class="intro container justify-content-center pb-5">
      
      <h2 class="intro__titulodinosaurs">Dinosaurios</h2>
      <section class="descripcion container">
        <article class="descripcion__cuadro container">
          <img src="../multimedia/img/dino1.jpg" alt="Dinosaurios" class="descripcion__cuadro__img"/>
          <img src="../multimedia/img/dino2.jpg" alt="Dinosaurios" class="descripcion__cuadro__img"/>
        </article>
        <p class="descripcion__parrafo">
          Los dinosaurios (Dinosauria, del griego δεινός deinós 'terrible' y
          σαῦρος sauros 'lagarto': 'lagartos terribles') son un grupo de
          saurópsidos que aparecieron durante el período Triásico. Aunque el
          origen exacto y su diversificación temprana es tema de activa
          investigación, el consenso científico actual sitúa su origen entre 231
          y 243 millones de años atrás. Fueron los vertebrados terrestres
          dominantes durante 135 millones de años, desde el inicio del Jurásico
          (hace unos 200 millones años) hasta el final del Cretácico (hace 66
          millones de años), cuando la mayoría de los grupos de dinosaurios se
          extinguieron durante la extinción masiva del Cretácico-Terciario que
          puso fin a la Era Mesozoica. El registro fósil indica que las aves
          evolucionaron a partir de dinosaurios terópodos durante el período
          Jurásico y, en consecuencia, muchos taxónomos consideran que las aves
          forman un subgrupo dentro de los dinosaurios. Algunas aves
          sobrevivieron a este acontecimiento, y sus descendientes continúan el
          linaje de los dinosaurios hasta nuestros días.
          <br />
          Los dinosaurios son un grupo diverso de animales desde el punto de
          vista taxonómico, morfológico y ecológico. Usando la evidencia fósil,
          los paleontólogos han identificado cerca de 500 géneros distintos y
          más de mil especies diferentes de dinosaurios no avianos. Los
          dinosaurios están representados en cada continente tanto por especies
          existentes como por restos fósiles. Algunos son herbívoros, otros
          carnívoros, ovíparos u omnívoros. Los primeros dinosaurios fueron
          bípedos, pero muchos grupos incluyeron especies cuadrúpedas, y algunos
          podían alternar los dos tipos de locomoción. Los cuernos o crestas son
          comunes a todos los grupos de dinosaurios, y algunos grupos
          desarrollaron modificaciones esqueléticas como armaduras óseas y
          espinas. La evidencia sugiere que la puesta de huevos y la
          construcción de nidos fueron rasgos que compartían todos los
          dinosaurios. Muchos dinosaurios eran de gran porte — el dinosaurio
          saurópodo más grande pudo haber alcanzado una longitud de 58 metros y
          9,25 metros de altura. Sin embargo, la idea de que los dinosaurios no
          aviares fueron todos gigantescos es un error basado en el sesgo de
          conservación, ya que los huesos grandes y fuertes tienen más
          probabilidad de durar hasta que se fosilicen. Muchos dinosaurios eran
          bastante pequeños: Xixianykus, por ejemplo, medía unos 50 cm
          (centímetros) de largo.
          <br />
          Aunque la palabra dinosaurio significa 'lagarto terrible', el nombre
          es un poco engañoso, ya que los dinosaurios no son lagartos. En
          cambio, representan un grupo separado de reptiles que, como muchas
          formas extintas, no muestran características tradicionalmente vistas
          como propias de un reptil, como la postura extendida hacia los lados
          de las extremidades o la ectotermia. Además, muchos animales
          prehistóricos, incluidos los mosasaurios, ictiosaurios, pterosaurios,
          plesiosaurios y pelicosaurios (Dimetrodon), son popularmente
          concebidos como dinosaurios, pero no están clasificados
          taxonómicamente como tales. A lo largo de la primera mitad del siglo
          XX, antes de que las aves fueran reconocidas como dinosaurios, la
          mayor parte de la comunidad científica creía que los dinosaurios
          habían sido lentos y de sangre fría. No obstante, la mayoría de las
          investigaciones realizadas desde la década de 1970 han indicado que
          todos los dinosaurios eran animales activos con metabolismo elevado y
          numerosas adaptaciones para la interacción social.
          <br />
          Desde que en el siglo XIX se reconocieron los primeros fósiles de
          dinosaurio, los esqueletos fósiles montados han sido la principal
          atracción de muchos museos de todo el mundo, y los dinosaurios se han
          convertido en parte permanente de la cultura mundial. El gran tamaño
          de algunos grupos, así como su naturaleza aparentemente monstruosa y
          fantástica, han asegurado apariciones regulares de dinosaurios en los
          libros de mayor venta y en películas como Jurassic Park. El
          persistente entusiasmo del público por estos animales ha dado lugar a
          una importante financiación para la investigación científica de los
          dinosaurios, y los nuevos descubrimientos son dados a conocer
          regularmente en los medios de comunicación.
          <br />
        </p>
      </section>
      <section class="descripcion container">
        <h2 class="titulo">Etimologia</h2>
        <p class="descripcion__parrafo">
          El taxón Dinosauria fue formalmente nombrado en 1842 por el
          paleontólogo Sir Richard Owen, que lo utilizó para referirse a la
          «tribu distinta o sub-orden de los reptiles saurios» que luego fue
          reconocido en Inglaterra y en todo el mundo. El término deriva de las
          palabras griegas δεινός (deinós, que significa 'terrible', 'potente',
          o 'gran temor') y σαῦρος (sauros, que significa 'lagarto' o 'reptil').
          Aunque el nombre taxonómico ha sido a frecuentemente interpretado como
          una referencia a los dientes, las garras, y otras características
          temibles de los dinosaurios, Owen pretendía simplemente evocar su
          tamaño y majestuosidad.
        </p>
      </section>
      <section class="descripcion descripcion--columna container">
        <h2 class="titulo">Otra seccion</h2>
        <p class="descripcion__parrafo">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis,
          sunt laborum. Provident porro aut accusamus reprehenderit, rem quaerat
          molestiae explicabo esse nesciunt. Optio vitae tempora unde aliquam
          architecto, excepturi fugiat! Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Corrupti, non aut mollitia voluptas iure similique
          sint autem voluptate dignissimos, consectetur et deleniti maxime
          dolores labore aliquid excepturi quas adipisci sunt! Lorem ipsum dolor
          sit amet consectetur adipisicing elit. Quidem alias dignissimos neque
          nihil tempore quo commodi necessitatibus. Ad qui, reprehenderit libero
          accusamus eum reiciendis sint possimus sit eveniet, nostrum nobis.
        </p>
        <p class="descripcion__parrafo">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis,
          sunt laborum. Provident porro aut accusamus reprehenderit, rem quaerat
          molestiae explicabo esse nesciunt. Optio vitae tempora unde aliquam
          architecto, excepturi fugiat! Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Corrupti, non aut mollitia voluptas iure similique
          sint autem voluptate dignissimos, consectetur et deleniti maxime
          dolores labore aliquid excepturi quas adipisci sunt! Lorem ipsum dolor
          sit amet consectetur adipisicing elit. Quidem alias dignissimos neque
          nihil tempore quo commodi necessitatibus. Ad qui, reprehenderit libero
          accusamus eum reiciendis sint possimus sit eveniet, nostrum nobis.
        </p>
      </section>
    </main>
    <footer class="flex-column flex-sm-row">
      <a href="../index.html"
        ><img src="../multimedia/img/logosmall.png" alt="Home del sitio"
      /></a>
      <section class="redes">
        <a href="http://www.facebook.com">
          <img src="../multimedia/img/facebooksmall.png" alt="redes sociales" />
        </a>
        <a href="http://www.instagram.com">
          <img src="../multimedia/img/instagramsmall.png" alt="redes sociales" />
        </a>
      </section>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
