<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Wikisaur tipos de dinosaurios, todos los tipos de dinosaurios que existieron en la prehistoria"
    />
    <meta
      name="keywords"
      content="WIKI, DINOSAURIOS, DINOSAUR, WIKIPEDIA, JURASSIC, PARK, PREHISTORICO, PREHISTORIC, REX, TRICERATOPS, PALEONTOLOGIA, PELICULAS"
    />
    <title>Wikisaur | Dinosaurios</title>
    <link rel="icon" href="../multimedia/img/logosmall.png" />


  </head>
  <body>
    <header></header>
    <main></main>
    <footer></footer>
  </body>
</html>
