<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Wikisaur tipos de dinosaurios, todos los tipos de dinosaurios que existieron en la prehistoria"
    />
    <meta
      name="keywords"
      content="WIKI, DINOSAURIOS, DINOSAUR, WIKIPEDIA, JURASSIC, PARK, PREHISTORICO, PREHISTORIC, REX, TRICERATOPS, PALEONTOLOGIA, PELICULAS"
    />
    <title>Wikisaur | Dinosaurios</title>

    <link rel="icon" href="../multimedia/img/logosmall.png" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"
    />

    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header>
      <nav class="barra container">
        <ul class="barra__lista">
          <div class="row mb-3 justify-content-center">
            <li class="col-6 col-lg-3">
              <h1 class="barra__lista__logo">wikisaur</h1>
            </li>
          </div>
          <div class="row justify-content-center mt-5">
            <li class="col-4 col-lg-2 fs-lg-3 fs-6 mt-3">
              <a href="../index.html" class="barra__lista__links">Home</a>
            </li>
            <li class="col-4 col-lg-2 fs-lg-3 fs-6 mt-3">
              <a href="./history.html" class="barra__lista__links">Historia</a>
            </li>

            <li class="col-4 col-lg-2 fs-lg-3 fs-6 mt-3">
              <a href="./dinosaurs.html" class="barra__lista__links"
                >Especies</a
              >
            </li>
            <li class="col-5 col-lg-3 fs-lg-3 fs-6 mt-3">
              <a href="./paleontology.html" class="barra__lista__links"
                >Paleontologia</a
              >
            </li>
            <li class="col-5 col-lg-2 fs-lg-3 fs-6 mt-3">
              <a href="./Contacto.html" class="barra__lista__links">Contacto</a>
            </li>
          </div>
        </ul>
      </nav>
    </header>
    <main>
      <section class="especie">
        <h2 class="especie__titulo">Tyrannosaurus rex</h2>
        <article class="especie__data row justify-content-center">
          <div class="especie__data__info col-12 col-md-7">
            <p class="especie__data__info__parrafo">
              <em><b>Tyrannosaurus rex</b></em> (del griego latinizado <em>tyrannus</em>
              'tirano' y <em>saurus</em> 'lagarto', y el latín rex, 'rey'), es la única
              especie conocida del género fósil Tyrannosaurus de dinosaurio
              terópodo tiranosáurido, que vivió a finales del período Cretácico,
              hace aproximadamente entre 68 y 66 millones de años, en el
              Maastrichtiense, en lo que es hoy América del Norte. Su
              distribución en el continente fue mucho más amplia que otros
              tiranosáuridos. Comúnmente abreviado como T. rex, y castellanizado
              como <strong>tiranosaurio</strong> es una figura común en la cultura popular. Fue
              uno de los últimos dinosaurios no avianos que existieron antes de
              la extinción masiva del Cretácico-Terciario.
            </p>
            <p class="especie__data__info__parrafo">
              Fue un <strong>carnívoro</strong> bípedo con un enorme cráneo equilibrado por una
              cola larga y pesada. En relación con sus largos y poderosos
              miembros traseros, los miembros superiores de Tyrannosaurus eran
              pequeños, pero sorprendentemente fuertes para su tamaño, y
              terminaban en dos dedos con garras. Aunque otros terópodos
              rivalizan o superan a Tyrannosaurus rex en tamaño, todavía es el
              mayor tiranosáurido conocido y uno de los mayores depredadores
              conocidos de la Tierra, midiendo entre 12 a 13 metros de largo, 4
              metros de altura hasta las caderas, y con pesos estimados entre 6
              a 9 toneladas. Durante mucho tiempo fue el mayor carnívoro de su
              ecosistema; debió de haber sido el superpredador, cazando
              hadrosáuridos y ceratópsidos, aunque algunos expertos han sugerido
              que era principalmente carroñero. 
            </p>
            <p class="especie__data__info__parrafo">
              Hay más de 30 especímenes de Tyrannosaurus rex identificados,
              algunos de los cuales son esqueletos casi completos. Se han
              encontrado tejido conjuntivo y proteínas en por lo menos uno de
              estos especímenes. La abundancia de material fósil ha permitido
              investigar en detalle muchos aspectos de su biología, incluyendo
              su ciclo de vida y su biomecánica. Los hábitos de alimentación, la
              fisiología y la velocidad potencial de Tyrannosaurus rex son
              objeto de controversia. Su taxonomía es también polémica, con
              algunos científicos que consideran a Tarbosaurus bataar de Asia
              como una segunda especie de Tyrannosaurus mientras otros mantienen
              a Tarbosaurus como género separado. Varios otros géneros de
              tiranosáuridos norteamericanos también han sido sinonimizados a
              Tyrannosaurus.
            </p>
          </div>
          <div class="especie__data__tabla col-8 col-md-5">
            <div class="row justify-content-center">
              <div class="col-12 especie__data__tabla__titulo">INFORMACION</div>
            </div>
            <div class="row align-content-center align-items-center">
              <div class="col-7 col-md-7">
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">
                      Especie:
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">
                      Tyrannosaurus rex
                    </p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">
                      Localización
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">Norteamérica</p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">Hábitat</p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">Bosques</p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">
                      alimentación
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">Carnívoro</p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">Altura</p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">
                      4.6 - 61.1 mt
                    </p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">
                      Longitud
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">
                      11.1 - 12.3 mt
                    </p>
                  </div>
                </div>
                <div class="row especie__data__tabla__fila">
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__propiedad">Peso</p>
                  </div>
                  <div class="col-6">
                    <p class="especie__data__tabla__fila__info">7 toneladas</p>
                  </div>
                </div>
              </div>
              <div class="col-5 col-md-5">
                <img
                  src="../multimedia/img/tiranosaurio.png"
                  alt=""
                  class="especie__data__tabla__imagen"
                />
              </div>
            </div>
          </div>
        </article>
      </section>
    </main>
    <footer class="pie row align-items-center">
      <div
        class="col-12 col-md-4 d-flex justify-content-md-start justify-content-center mt-3"
      >
        <a href="index.html">
          <img
            src="../multimedia/img/logosmall.png"
            alt="Logo de wikisaur"
            class="pie__logo"
          />
        </a>
      </div>
      <div
        class="col-12 col-md-4 d-flex justify-content-center justify-content-center mt-3"
      >
        <h6 class="pie__firma">Design by Nahuel Vignatti - 2022</h6>
      </div>
      <div
        class="col-12 col-md-4 d-flex justify-content-md-end justify-content-center mt-3"
      >
        <section class="pie__social">
          <a href="http://www.facebook.com"
            ><i class="bi bi-facebook pie__social__icon"></i
          ></a>
          <a href="http://www.instagram.com"
            ><i class="bi bi-instagram pie__social__icon"></i
          ></a>
          <a href="https://github.com/nahuel-vignatti/proyecto_final_wikisaur"
            ><i class="bi bi-github pie__social__icon"></i
          ></a>
        </section>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
