<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wikisaur</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="icon" href="../multimedia/img/logosmall.png" />
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
    crossorigin="anonymous"
  />
  </head>
  <body>
    <header class="flex-column flex-sm-row justify-content-end">
      <img
      src="../multimedia/img/logosmall.png"
      alt="logo wikisaur"
      class="logo_sitio"
    />
    <nav class="navbar navbar-expand-sm">
      <div class="container-fluid">

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapsibleNavbar"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Tooggle navigation"
          >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav gap-3">
            <li class="nav-item"><a class="nav-link fs-2" href="../index.html">Home</a></li>
            <li class="nav-item"><a class="nav-link fs-2" href="./history.html">Historia</a></li>
            <li class="nav-item"><a class="nav-link fs-2" href="./dinosaurs.html">Dinosaurios</a></li>
            <li class="nav-item"><a class="nav-link fs-2" href="./paleontology.html">Paleontologia</a></li>
            <li class="nav-item"><a class="nav-link fs-2" href="./scifi.html">Ciencia Ficcion</a></li>              
          </ul>
        </div>
      </div>
    </nav>   
  </header>

    <main class="intro container justify-content-center pb-5">
      >
      <h2 class="titulo">Orígenes e inicios evolutivos</h2>
      <section class="descripcion container">
        <p class="descripcion__parrafo ">
          Los dinosaurios divergieron de sus ancestros arcosaurios entre
          mediados a finales del período Triásico, aproximadamente 20 millones
          de años después de que la extinción masiva del Pérmico-Triásico
          acabara con un estimado del 95 % de toda la vida en la
          Tierra. La datación radiométrica de la formación rocosa
          que contenía los fósiles del género primitivo de dinosaurio Eoraptor
          ha arrojado una fecha de 231.4 millones de años, estableciendo su
          presencia en el registro fósil del Triásico. los paleontólogos
          creen que Eoraptor se parece al ancestro común de todos los
          dinosaurios; es decir, que de ser así los primeros dinosaurios
          eran animales depredadores pequeños y bípedos. El descubrimiento de
          pequeños ornitódiros parecidos a dinosaurios como Marasuchus y
          Lagerpeton en los estratos del Triásico Medio de Argentina apoya esta
          idea; los análisis de los fósiles de estos animales sugieren que estos
          animales eran ciertamente pequeños depredadores bípedos. Los
          dinosaurios pueden haber aparecido tan tempranamente como hace 243
          millones de años, lo que es indicado por los restos de Nyasasaurus de
          ese período, aunque los fósiles conocidos de este animal son demasiado
          fragmentarios como para determinar si en verdad era un dinosaurio o un
          pariente muy cercano de estos.
        </p>
        <p class="descripcion__parrafo">
          Cuando los dinosaurios aparecieron, ellos no eran los animales
          terrestres dominantes. Los hábitats terrestres eran ocupados por
          varios tipos de arcosauromorfos y terápsidos, como los cinodontes y
          también estaban los rincosaurios. Sus principales competidores eran
          los pseudosuquios, como los etosaurios, ornitosúquidos y los
          rauisuquios, los cuales eran más exitosos que los dinosaurios.
          Muchos de estos animales desaparecerían a lo largo del Triásico, en
          alguno de los dos eventos de extinción que hubo. El primero, hace
          cerca de 215 millones de años, vio la desaparación de una gran
          variedad de arcosauromorfos basales, incluyendo a los protorosaurios.
          Esto fue seguido por la extinción masiva del Triásico-Jurásico (hace
          unos 200 millones de años), en la cual se extinguieron varios otros
          grupos de arcosaurios primitivos, como los etosaurios, los
          ornitosúquidos, los fitosaurios y los rauisuquios. Los rincosaurios y
          los dicinodontes sobrevivieron (al menos en algunas áreas) tan
          tardíamente como el inicio del Noriense e inicios del Rhaetiense,
          respectivamente, pero la fecha exacta de sus extinciones es
          incierta. Estas pérdidas dejaron como resultado una fauna terrestre
          compuesta por crocodilomorfos, dinosaurios, mamíferos, pterosaurios y
          tortugas. Los primeros linajes de dinosaurios primitivos se
          diversificaron durante las épocas del Carniense y el Noriense en el
          Triásico, posiblemente al ir ocupando los nichos de los grupos que se
          extinguían.
        </p>
      </section>
    </main>
    <footer class="flex-column flex-sm-row">
      <a href="../index.html"
        ><img src="../multimedia/img/logosmall.png" alt="Home del sitio"
      /></a>
      <section class="redes">
        <a href="http://www.facebook.com">
          <img src="../multimedia/img/facebooksmall.png" alt="redes sociales" />
        </a>
        <a href="http://www.instagram.com">
          <img src="../multimedia/img/instagramsmall.png" alt="redes sociales" />
        </a>
      </section>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
