<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wikisaur</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="icon" href="../multimedia/img/logosmall.png" />
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
    crossorigin="anonymous"
  />
  </head>
  <body>
    <header class="flex-column flex-sm-row justify-content-end">
      <img
      src="../multimedia/img/logosmall.png"
      alt="logo wikisaur"
      class="logo_sitio"
    />
    <nav class="navbar navbar-expand-sm">
      <div class="container-fluid">

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapsibleNavbar"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Tooggle navigation"
          >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav gap-3">
            <li class="nav-item"><a class="nav-link fs-2" href="../index.html">Home</a></li>
            <li class="nav-item"><a class="nav-link fs-2" href="./history.html">Historia</a></li>
            <li class="nav-item"><a class="nav-link fs-2" href="./dinosaurs.html">Dinosaurios</a></li>
            <li class="nav-item"><a class="nav-link fs-2" href="./paleontology.html">Paleontologia</a></li>
            <li class="nav-item"><a class="nav-link fs-2" href="./scifi.html">Ciencia Ficcion</a></li>              
          </ul>
        </div>
      </div>
    </nav>   
  </header>

    <main class="intro container justify-content-center pb-5">
      
      <h2 class="titulo">Paleontología</h2>

      <section class="descripcion container">
        <article class="descripcion__cuadro container">
          <img
            src="../multimedia/img/paleontologia1.jpg"
            alt="huesos de dinosaurio"
            class="descripcion__cuadro__img"
          />
          <img
            src="../multimedia/img/paleontologia2.jpg"
            alt="huesos de dinosaurio"
            class="descripcion__cuadro__img"
          />
        </article>
        <p class="descripcion__parrafo">
          La paleontología (del griego «παλαιος» palaios = antiguo, «οντο» onto
          = ser, «-λογία» -logía = tratado, estudio, ciencia) es la ciencia
          natural que estudia e interpreta el pasado de la vida sobre la Tierra
          a través de los fósiles. Se encuadra dentro de las ciencias naturales,
          posee un cuerpo de doctrina propio y comparte fundamentos y métodos
          con la geología y la biología con las que se integra estrechamente. Se
          subdivide en paleobiología, tafonomía y biocronología, y aporta
          información necesaria a otras disciplinas (estudio de la evolución de
          los seres vivos, bioestratigrafía, paleogeografía o paleoclimatología,
          entre otras).
        </p>
        <p class="descripcion__parrafo">
          Entre sus objetivos están, además de la reconstrucción de los seres
          vivos que vivieron en el pasado, el estudio de su origen, de sus
          cambios en el tiempo (evolución y filogenia), de las relaciones entre
          ellos y con su entorno (paleoecología, evolución de la biosfera), de
          su distribución espacial y migraciones (paleobiogeografía), de las
          extinciones, de los procesos de fosilización (tafonomía) o de la
          correlación y datación de las rocas que los contienen
          (bioestratigrafía).
        </p>
        <p class="descripcion__parrafo">
          La paleontología permite entender la actual composición
          (biodiversidad) y distribución de los seres vivos sobre la Tierra
          (biogeografía) —antes de la intervención humana—, ha aportado pruebas
          indispensables para la solución de dos de las más grandes
          controversias científicas del pasado siglo, la evolución de los seres
          vivos y la deriva de los continentes, y, de cara a nuestro futuro,
          ofrece herramientas para el análisis de cómo los cambios climáticos
          pueden afectar al conjunto de la biosfera.
        </p>
      </section>
    </main>
    <footer class="flex-column flex-sm-row">
      <a href="../index.html"
        ><img src="../multimedia/img/logosmall.png" alt="Home del sitio"
      /></a>
      <section class="redes">
        <a href="http://www.facebook.com">
          <img src="../multimedia/img/facebooksmall.png" alt="redes sociales" />
        </a>
        <a href="http://www.instagram.com">
          <img src="../multimedia/img/instagramsmall.png" alt="redes sociales" />
        </a>
      </section>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
