<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Wikisaur Ciencia Ficcion, aqui encontraras todo lo relacionado a los dinosaurios en el mundo de las peliculas y la Ciencia ficcion">  
    <meta name="keywords" content="WIKI, DINOSAURIOS, DINOSAUR, WIKIPEDIA, JURASSIC, PARK, PREHISTORICO, PREHISTORIC, REX, TRICERATOPS, PALEONTOLOGIA, PELICULAS">
    
    <link rel="icon" href="../multimedia/img/logosmall.png" />
    <link rel="stylesheet" href="../css/style.css" />

    <title>Wikisaur | Ciencia Ficción</title>
  </head>
  <body>
    <header class="flex-sm-row justify-content-center">
      <nav class="navbar justify-content-center">
        <ul class="navbar-nav gap-5 flex-row">
          <li class="nav-item">
            <a class="nav-link fs-2" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-2" href="./history.html">Historia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-2" href="./dinosaurs.html"
              >Dinosaurios</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link fs-2" href="./paleontology.html"
              >Paleontologia</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link fs-2" href="./scifi.html"
              >Ciencia Ficcion</a
            >
          </li>
        </ul>

        <div class="dropdown-center">
          <button
            class="btn btn-secondary dropdown-toggle fs-3"
            type="button"
            id="dropdownCenterBtn"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
              Menu
          </button>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownCenterBtn">
            <li>
              <a class="dropdown-item fs-2" href="../index.html">
                Home</a>
            </li>
            <li>
              <a class="dropdown-item fs-2" href="./history.html">
                Historia</a>
            </li>
            <li>
              <a class="dropdown-item fs-2" href="./dinosaurs.html">
                Dinosaurios</a>
            </li>
            <li>
              <a class="dropdown-item fs-2" href="./paleontology.html">
                Paleontologia</a>
            </li>
            <li>
              <a class="dropdown-item fs-2" href="./scifi.html"
                >Ciencia Ficcion</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    
    <main class="intro container justify-content-center pb-5">
    
      <section class="peliculas">
        <h2 class="intro__tituloscifi">Jurassic Park 1</h2>
        <iframe
          width="745"
          height="409"
          src="https://www.youtube.com/embed/QWBKEmWWL38"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          class="peliculas__video"
        ></iframe>
        <h2 class="intro__tituloscifi">Jurassic Park 2</h2>
        <iframe
          width="640"
          height="360"
          src="https://www.youtube.com/embed/d4ktcAPmJcE"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          class="peliculas__video"
        ></iframe>
      </section>
    </main>
    <footer class="flex-column flex-sm-row">
      <a href="../index.html"
        ><img src="../multimedia/img/logosmall.png" alt="Home del sitio"
      /></a>
      <section class="redes">
        <a href="http://www.facebook.com">
          <img src="../multimedia/img/facebooksmall.png" alt="redes sociales" />
        </a>
        <a href="http://www.instagram.com">
          <img src="../multimedia/img/instagramsmall.png" alt="redes sociales" />
        </a>
      </section>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
