.dinosaurios__titulo{
    font-size: 5rem;
    margin-bottom: 2rem;
    color: whitesmoke;
    font-weight: bold;
    font-style: italic;
    text-shadow: 0 0 0.3rem whitesmoke;
}
.especie {
  width: 90%;
  font-size: 1rem;
  margin-bottom: 3rem;
  &__titulo {
    font-family: "Titillium Web";
    color: whitesmoke;
    margin-bottom: 1rem;
    font-size: 3em;
    padding-left: 3em;
  }
  &__data {
    font-family: 'Maven Pro', sans-serif;
    background-color: rgb(65, 65, 65);
    //font-family: Arial, Helvetica, sans-serif;
    padding: 4em 2em;
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.671);
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgb(83, 83, 83), 2px 2px 6px rgb(83, 83, 83);
    &__info{
        font-size: 1.5em;
 
    }
    &__tabla {
      
      background-color: #212121;
      font-size: 1em;
      color: whitesmoke;
      padding: 1rem;
      border-radius: 0.5rem;
      max-height: 35em;
      &__imagen {
        width: 100%;
        height: auto;
        
      }
      &__titulo {
        font-size: 1.5em;
        text-align: center;
        border-bottom: 0.1rem solid gray;
        align-content: center;
        align-items: center;
        margin-bottom: 0.5em;
      }
      &__fila {
        padding-top: 0.6em;
        font-size: 1em;
        border-bottom: 1px solid gray;

       // margin-bottom: 0.5em;
        &__propiedad {
          font-size: 1.2em;
          font-weight: bolder;
        }
        &__info {
          font-size: 1.2em;

        }
      }
      &__fila:hover {
        background-color: rgba(128, 128, 128, 0.404);
      }
    }
  }
}
@media screen and (max-width: 992px) {
    .especie{
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 576px){
    .dinosaurios__titulo{
        font-size: 3rem;
    }
    .especie{
        font-size: 0.8rem;
    }
    .especie__data__tabla__fila{
         padding-top: 0;
    }

}