@media screen and (max-width: 950px) {
  /*esto solo lo hago por los videos */
  .peliculas__video {
    width: auto;
    height: auto;
  }

  body {
    background-image: url("../multimedia/img/dinobackgroundmobile.jpg");
    background-size: cover;
  }
  main {
    background: none !important;
    box-shadow: none !important;
  }
  .intro {
    &__parrafo {
      font-size: 1.5rem;
    }
    &__presentacion {
      &__articulo__descripcion {
        width: 60%;
        font-size: 1.5rem;
      }
      &__articulo_img {
        width: 60%;
        height: auto;
      }


    }
  }
}

  

@media screen and (max-width: 480px) {
  .intro__presentacion__articulo {
    flex-direction: column;
  }
  main {
    width: 60%;
  }
  .titulo {
    font-size: 3rem;
  }
  body header nav .navbar-nav{
   display: none;
  }

  body header nav .dropdown-center{
    display: block;

  }
}


