* {
  margin: 0;
  padding: 0;
  
}
html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background: #212121;
  overflow-x: hidden;
  
}

main{
  margin-top: 5rem;
  @include flexi(column);

}
