
.img_responsive{ //propiedad para hacer las imagenes responsive
    width: 100%;
    height: auto;
}


//mixin para determinar el tipo de flex
@mixin flexi($dire:row,$justi:center,$alig:center,$alig2:center){
    display: flex;
    flex-direction: $dire;
    justify-content: $justi;
    align-items: $alig;
    align-content: $alig2;
}

