//map con estilos bastante utilizados
$estilos:(
    colortitulo:rgb(19, 82, 72),
    colorfondo: rgba(95, 158, 160, 0.514)
);
//clase para hacer extend, todos los titulos tendran el mismo formato
.titulos_estilo{
    font-family: "Quicksand", sans-serif;
    font-size: 6rem;
    margin: 2rem 0;
    color: map-get($estilos , colortitulo );
    text-align: center;
}

//mixin para determinar el tipo de flex
@mixin flexi ($disp,$dire){
    display: $disp;
    flex-direction: $dire;
}